.box {
    padding: 2rem 7vw;
    display: flex;
    flex-direction: column;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authorItem {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    margin: 0 auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(116, 141, 219);
    width: 80vw;
    height: fit-content;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.3);
    margin-top: 2.7%;
    padding-bottom: 2rem;
}

.authorIMG {
    margin-top: 2em;
    background-color: #fff;
    width: 15%;
    height: 70%;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.2);
    margin-top: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    transition: background-size .3s ease-in;
    -moz-transition: background-size .3s ease-in;
    -ms-transition: background-size .3s ease-in;
    -o-transition: background-size .3s ease-in;
    -webkit-transition: background-size .3s ease-in;
    height: 13rem;
}

.descriptionTxt {
    margin-top: 2em;
    background-color: #fff;
    width: 65%;
    height: 70%;
    border-radius: 0.3rem;
    box-shadow: 0px 0px 18px -2px rgba(0, 0, 0, 0.2);
    height: fit-content;
}

.descriptionTxt p {
    font-size: 1vw;
    margin-bottom: 0;
}

.authorItem .btn {
    width: 25%;
    color: #748DDB;
}

.bookTitle {
    font-style: italic;
    color: red;
}

.authorIMG {
    width: 25%;
}

.authorItem:nth-child(1) .authorIMG {
    background-image: url(../images/joy-beattyjpeg.jpeg);
}

.authorItem:nth-child(2) .authorIMG {
    background-image: url(../images/karl-wiegers.jpg);
}

.authorItem:nth-child(3) .authorIMG {
    background-image: url(../images/rex-black.jpg);
}

.authorItem:nth-child(4) .authorIMG {
    background-image: url(../images/ian-sommerville.jpg);
}

.pagination .active {
    padding: 0 !important;
    border-radius: unset !important;
}