.p-10 {
    padding: 2rem 7vw;
}

.announcement {
    background-color: #fff;
    box-shadow: 0px 0px 18px rgb(0, 0, 0, .2);
    border-radius: 20px;
    padding: 3rem;
}

.announcement p {
    font-size: 20px !important;
    line-height: 30px;
}