.card {
    border-radius: 20px !important;
}

.list-group-item.active {
    color: #fff !important;
    border-radius: 0 !important;
    background-color: #748DDB !important;
    border-color: #748DDB !important;
}

.currentPassInput {
    padding: 1.3rem .75rem !important;
}

.row .btn {
    padding: 0 1.5rem !important;
    height: 44px !important;
}

.input-group-prepend,
.input-group-text {
    height: 44px !important;
}

.list-group .active {
    padding: 14px 18px !important;
}

.modal-footer .btn {
    border: 1px solid #0069D9 !important;
}

.btn-group a {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Notification*/

.notificationButtons label {
    display: block;
    width: 54px;
    height: 32px;
    margin: 0px auto;
    border-radius: 100px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    background-color: #E6E9EC;
}

.notificationButtons input {
    display: none;
}


/* The toggle */

.notificationButtons i {
    height: 28px;
    width: 28px;
    background: #ffffff;
    display: inline-block;
    border-radius: 100px;
    margin-top: 2px;
    margin-left: 2px;
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    pointer-events: none;
    box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
}

.notificationButtons label:hover > i {
    box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.20);
    transform: scale(1.01);
}

.notificationButtons input:checked + label > i {
    margin-left: 24px;
}

.notificationButtons label:active {
    background-color: #A6B9CB;
}

.notificationButtons label:active > i {
    width: 34px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.20);
}

.notificationButtons input:checked + label:active > i {
    margin-left: 18px;
}

.notificationButtons input:checked + label {
    background-color: #748DDB;
}